@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E3F2FD;
}

.container {
    position: relative;
    background-image: url(./téléchargement.jfif);
    background-size: cover;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
}

header, .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 48px;
    margin-right: 10px;
}

.logo h5 {
    color: rgba(255, 255, 255, 0.49);
}

h5 {
    font-size: 16px;
    font-weight: 400;
    color: #D4AF37;
}

header .chip {
    width: 60px;
}

h6 {
    font-size: 10px;
    font-weight: 400;
    color: white;
}

h5.number {
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1px;
}

h5.name {
    margin-top: 20px;
}

.container .card-details {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}